* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #444444;
}

h1 {
  font-size: 3.25em;
  text-align: center;
}
h2 {
  font-size: 2.25em;
  padding-top: 1.5em;
  font-weight: 400;
}
h3 {
  font-size: 1.1em;
  font-weight: 700;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
p {
  text-align: justify;
}
.fa {
  color: #ffffff;
}

/********** styles for main app frame **********/
header {
  background-image: linear-gradient(salmon, pink);
  padding: 1em 2em 3.5em 2em;
}
nav li {
  display: inline-block;
  text-align: center;
  padding: 0.5em 0.75em;
  margin: auto 0.5em;
}
nav li:hover {
  box-shadow: inset 0px 0px 0px 3px #ffffff;
}
nav li a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: salmon;
}
#main-nav li {
  float: left;
  border: 0.1em solid #ffffff;
  border-radius: 0.5em;
}
#social-nav li {
  float: right;
  border-radius: 100%;
}
#main-section {
  width: 100%;

}
footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 0.5em;
  text-align: center;
  background-color: salmon;
}
blockquote {
  text-align: justify;
}
cite {
  float: right;
  font-weight: 400;
}



/********** styles for home.html **********/
#home-content {
  background-image: linear-gradient(pink, salmon);
  text-align: center;
  padding: 2em 5em 5em 5em;
}


/********** styles for portfolio.html **********/
#portfolio-content {
  background-image: linear-gradient(pink, salmon);
  text-align: left;
  width: 100%;
  padding-top: 0.25em;
}

.portfolio-section {
  display: inline-block;
  clear: both;
  padding: 1em 4em 1em 0.25em;
}
.screenshots {
  width: 60%;
  display: inline-block;
  float: left;
  margin-right: 3em;
  border: 0.5em solid #ffffff;
  border-radius: 1.5em;
  box-shadow: 3px 3px 3px #999999;
}
.gitlink {
  text-decoration: none;
  float: right;
}
.gitlink:hover {
  color: #ffffff;
  font-weight: 400;
}


/********** styles for resume.html **********/
#resume-content {
  background-image: linear-gradient(pink, salmon);
  text-align: center;
  padding: 2em 5em 5em 5em;
}





@media (max-width: 1200px) {
  .portfolio-section {
    padding-right: 3.5em;
  }
}

/*@media (max-width: 960px) {
  .screenshots {
    width: 500px;
    margin-bottom: 1em;
    margin-left: -1em;
  }
  .portfolio-section {
    padding-right: 3.5em;
  }
}*/
